.rodape{
    display: grid;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: rgba(15, 68, 64, 0.671);
}

.redesSociais{
    font-size: 50px;
    color: black;
}
.redesSociais a{
    padding: 10px;
    color: black;   
}
.redesSociais a:hover{
    font-size: 60px;
    transition: 0.5s;
    color: darkorange;
}

