.colaborador {
    width: 280px;
}

.colaborador .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 10px 10px;
}
.colaboradorImagem{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.colaborador .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 8px;
}

.timeDoColaborador{
    display: flex;
    width: 40px;
    height: 40px;
}
.timeCard{
    height: 80px;
    width: 80px;
}
.rodape{
    justify-items: center;
}